table {
width: 500px;
}

th {
    text-align: left;
}

table, th, td {
  border: 1px solid black;
}

img{
  padding-top: 30px;
  padding-bottom: 10px;
}

.r1{
  width: 100%;
  text-align: center;
}
.r2{
  width: 100%;
  text-align: center;
  font-size: 50px;
}
.b1{
  background-color: aqua;
  border: 1px;
  color: aliceblue;
  width: 100px;
  font-weight: 200px;
  border-radius: 10px;
  margin-top: 20px;
}
.b2{
  background-color: aqua;
  border: 1px;
  color: aliceblue;
  width: 100px;
  font-weight: 200px;
  border-radius: 10px;
  margin-top: 20px;
}